doctype html
html
  head
    title= title
    link(rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/dbmataac4/image/upload/w_50,h_50,c_pad/subhashitaani/logo.png")
    link(rel='stylesheet', href='/stylesheets/skeleton.css') 
    script(type="text/javascript" src="/javascripts/script.js")   
  body
    block content
